SECRET_KEY=your_secret_key_here

DEBUG=True

# НАСТРОЙКИ ПОДКЛЮЧЕНИЯ К PostgreSQL
DATABASE_NAME=tasktracker
DATABASE_USER=your_user_name
DATABASE_PASSWORD=your_password
DATABASE_HOST=db
DATABASE_PORT=5432

# GITHUB TOKEN
# Personal Access Token для GitHub
# Создайте на: https://github.com/settings/tokens
# Необходимые scope: repo, read:org, user (в зависимости от нужд)
GITHUB_TOKEN=your_github_token_here

ALLOWED_HOSTS=localhost,127.0.0.1

DOCKER_HUB_USERNAME=your_dockerhub
DOCKER_HUB_ACCESS_TOKEN=your_token

SSH_USER=your_user_name
SERVER_IP=123.123.123.123
SSH_KEY=your_secret_key_here
